.buy {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #ffffff;
  }
  
  .buy:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #1d1d20;
  }
  
  .buy:active {
    transform: scale(0.9);
  }

  .link-unstyled {
    color: inherit;
    text-decoration: none;
  }

  .component-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
  }